<div class="container" ng-controller="authCtrl">
	<div class="row">
		<div class="col-lg-6">
			<hr>
			<h2>Авторизация</h2>
			<div class="login">
				<form name="loginForm" ng-submit="checkUser(user)" novalidate>
				<span ng-bind="toggler"></span>
					<div class="form-group">
						<input type="text" class="form-control login__input login__input_name" name="name" ng-model="user.name" placeholder="Ваш логин" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control login__input login__input_pass" name="pass" ng-model="user.pass" placeholder="Ваш пароль" required>
					</div>
					<button ng-disabled="loginForm.$invalid" class="btn btn-primary" type="submit">Войти</button>
					<p class="bg-danger" ng-show="!loginFalse">Неверное имя пользователя или пароль</p>
				</form>
			</div>	
		</div>
	</div>
</div>